.about {
  @include layout-padding;

  margin-bottom: 30px;
}

.about__title {
  @include margin-clean;

  margin-bottom: 25px;
}

.about__list {
  @include list-style-clean;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__item {
  position: relative;

  margin-bottom: 25px;
  padding-top: 50px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.about__item--icon-flower {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}

.about__item--icon-rubl {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}

.about__item--icon-heart {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}

.about__item--icon-tangle {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}

.about__item--icon-rocket {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}

.about__item--icon-gift {
  &::before {
    background-image: url("https://placehold.it/50x30");
  }
}
