.about {
  @include layout-padding;

  padding-top: 33px;
  padding-bottom: 20px;
}

.about__title {
  @include margin-clean;
  @include title;

  margin-bottom: 25px;
}

// .about__wrapper {
//   display: flex;
// }

.about__list {
  @include list-style-clean;
}

.about__item {
  margin-bottom: 25px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $primary-text;
}

.about__icon {
  display: block;
  margin-bottom: 20px;

  & path {
    fill: #63d1bb;
  }
}

