.catalog {
  @include layout-padding($mobile-padding);
  @include center(320);

  padding-top: 31px;
}

.catalog__list {
  @include list-style-clean;
}

.catalog__item {
  margin-bottom: 30px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .catalog {
    @include layout-padding($tablet-padding);
    @include center(768);

    padding-top: 81px;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .catalog {
    @include center(1150);

    padding-top: 130px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-right: 51px;
    margin-bottom: 57px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
