.catalog {
  @include layout-padding($mobile-padding);

  padding-top: 31px;
}

.catalog__list {
  @include list-style-clean;
}

.catalog__item {
  margin-bottom: 30px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .catalog {
    @include layout-padding($tablet-padding);

    padding-top: 81px;
  }

  .catalog__item {
    margin-bottom: 54px;
  }
}
