// Общие стили блока

.contacts {
  padding-bottom: 40px;
}

// Блок с контактными данными

.contacts__info {
  @include layout-padding($mobile-padding);
  @include center(340);

  padding-top: 35px;
  padding-bottom: 7px;
}

// Заголовок

.contacts__title {
  @include margin-clean;

  margin-bottom: 26px;

  font-size: 18px;
  font-weight: bold;
  color: $primary-text;
}

// Контактные данные

.contacts__row {
  display: flex;
  margin-bottom: 30px;
}

.contacts__section-value {
  margin-left: 30px;
}

// Ссылка

.contacts__link {
  position: relative;

  color: $secondary-text;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba($color: #46c1ae, $alpha: 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  &:active::after {
    background-color: rgba($color: #62d1ba, $alpha: 0.1);
  }
}

// Карта

.contacts__map {
  position: relative;
  margin-bottom: 42px;
}

.contacts__map-picture {
  position: relative;

  display: block;
  width: 320px;
  margin: 0 auto;
}

.contacts__map-picture::after {
  content: "";
  position: absolute;
  top: 144px;
  left: 140px;

  width: 67px;
  height: 100px;

  background-image: url("../img/icon-map-pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

// Яндекс карта

.contacts__map-yandex {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 454px;
}

// Кнопка

.contacts__write-us {
  width: 260px;
  margin: 0 auto;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  // Общие стили блока

  .contacts {
    padding-bottom: 57px;
  }

  // Блок с контактными данными

  .contacts__info {
    @include layout-padding($tablet-padding);
    @include center(768);

    padding-top: 61px;
    padding-bottom: 26px;

    font-size: 17px;
  }

  // Заголовок

  .contacts__title {
    position: relative;

    margin-bottom: 49px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 3px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  // Обертка контактных данных

  .contacts__data {
    display: flex;
  }

  // Контактные данные

  .contacts__row {
    width: 50%;
  }

  .contacts__section-value {
    margin-left: 23px;
  }

  // Карта

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__map-picture {
    width: 768px;
  }

  .contacts__map-picture::after {
    top: 139px;
    left: 363px;
  }

  // Яндекс карта

  .contacts__map-yandex {
    height: 457px;
  }

  // Кнопка

  .contacts__write-us {
    width: 231px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  // Общие стили блока

  .contacts {
    @include center(1050);

    position: relative;

    padding-bottom: 105px;
  }

  // Блок с контактными данными

  .contacts__info {
    width: 50%;
    max-width: none;
    margin: 0;
    padding-top: 141px;
    padding-right: 10px;
    padding-bottom: 49px;
    padding-left: 175px;
  }

  // Заголовок

  .contacts__title {
    margin-bottom: 49px;
    margin-left: -5px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: -106px;
    }
  }

  // Обертка контактных данных

  .contacts__data {
    flex-direction: column;
  }

  // Контактные данные

  .contacts__row {
    width: 100%;
  }

  // Карта

  .contacts__map {
    position: absolute;
    top: 71px;
    right: 0;

    margin: 0;
  }

  .contacts__map-picture {
    width: 525px;
  }

  .contacts__map-picture::after {
    top: 147px;
    left: 238px;
  }

  // Яндекс карта

  .contacts__map-yandex {
    width: 525px;
  }

  // Кнопка

  .contacts__write-us {
    width: 231px;
    margin: 0;
    margin-left: 175px;
  }
}
