.datasheet {
  width: 100%;
  margin-bottom: 28px;

  border-spacing: 0;

  border: none;
}

.datasheet__cell {
  @include border(bottom);

  padding-top: 8px;
  padding-bottom: 11px;

  line-height: 20px;
}

.datasheet__cell--width {
  width: 100px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .datasheet {
    margin-bottom: 28px;
  }

  .datasheet__cell--width {
    width: 95px;
  }
}

// ---------- DESKTOP ----------

// @media (min-width: $desktop-width) {
//   .datasheet {
//     margin-bottom: 28px;
//   }
// }
