.datasheet {
  width: 100%;
  margin-bottom: 28px;

  border-spacing: 0;

  border: none;
}

.datasheet__cell {
  @include border(bottom);

  padding-top: 8px;
  padding-bottom: 11px;

  line-height: 20px;
}

.datasheet__cell--width {
  width: 97px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .datasheet__cell {
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .datasheet__cell--width {
    width: 96px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .datasheet__cell {
    padding-bottom: 11px;
  }
}
