// Svg полоса внизу блока

.featured::after {
  @include center(400);
  content: "";

  display: block;
  height: 8px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: -8px;
  background-size: 320px 8px;
}

// Обертка для контента блока

.featured__content {
  @include layout-padding($mobile-padding);
  @include center(400);

  padding-top: 27px;
  padding-bottom: 36px;
}

// Заголовок

.featured__title {
  margin-bottom: 23px;
}

.featured__name {
  @include margin-clean;
  @include title;

  margin-bottom: 5px;

  letter-spacing: 0.1px; // Для Pixel Perfect
}

.featured__marker {
  @include margin-clean;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

// Описание

.featured__description {
  @include margin-clean;

  margin-bottom: 18px;

  line-height: 24px;
}

// Картинка

.featured__picture {
  display: block;
  margin-bottom: 24px;
}

.featured__image {
  margin: 0 auto;
}

// Блок цены

.featured__price {
  @include margin-clean;

  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  // Svg полоса внизу блока
  .featured::after {
    @include center(768);

    height: 17px;

    background-position: -20px;
    background-size: 770px 17px;
  }

  // Обертка для контента блока

  .featured__content {
    @include layout-padding($tablet-padding);
    @include center(768);

    position: relative;

    padding-top: 47px;
    padding-bottom: 53px;
  }

  // Заголовок

  .featured__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  .featured__name {
    @include margin-clean;

    margin-bottom: 5px;
    margin-left: -3px;

    font-size: 43px;
    line-height: 50px;
    letter-spacing: -1px; // Проблема с заголовком !!! Сделать Pixer Perfect не получается.
  }

  .featured__marker {
    width: 72px;
    margin-right: 27px;

    line-height: 17px;
    text-align: center;
  }

  // Описание

  .featured__info {
    width: 50%;
    margin-bottom: 56px;
    padding-right: 44px;
  }

  .featured__description {
    min-height: 90px;
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  // Картинка

  .featured__picture {
    position: absolute;
    top: 154px;
    right: 51px;

    margin-bottom: 0;
  }

  // Блок цены

  .featured__buy {
    width: 50%;
    padding-right: 44px;
  }

  .featured__price {
    margin-bottom: 34px;

    font-size: 20px;
    text-align: center;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {

  // Svg полоса внизу блока

  .featured::after {
    @include center(1050);

    height: 23px;

    background-position: -26px;
    background-size: 1050px 23px;
  }

  // Обертка для контента блока

  .featured__content {
    @include center(1150);

    padding-top: 126px;
    padding-bottom: 74px;
  }

  // Заголовок

  .featured__title {
    position: relative;
    z-index: 21;

    justify-content: flex-start;
    margin-bottom: 44px;
  }

  .featured__name {
    order: 2;
    margin-bottom: 5px;
    margin-left: -3px;

    font-size: 53px;
    line-height: 57px;
  }

  .featured__marker {
    order: 1;
    margin-right: 56px;
    margin-left: 46px;
  }

  // Описание

  .featured__info {
    width: 30%;
    margin-bottom: 109px;
    margin-left: 175px;
    padding-right: 23px;
  }

  .featured__description {
    min-height: 90px;
    margin-bottom: 48px;
  }

  // Картинка

  .featured__picture {
    position: absolute;
    top: 73px;
    z-index: 20;
    // right: 51px;
  }

  // Блок цены

  .featured__buy {
    width: 30%;
    margin-left: 175px;
    padding-right: 23px;
  }

  .featured__price {
    margin-bottom: 34px;

    font-size: 20px;
    text-align: center;
  }
}
