.featured {
  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.featured__content {
  @include layout-padding;

  padding-top: 30px;
  padding-bottom: 42px;
}

.featured__title {
  margin-bottom: 20px;
}

.featured__name {
  @include margin-clean;
  @include title;

  margin-bottom: 5px;

  letter-spacing: -0.5px;
}

.featured__marker {
  @include margin-clean;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

// .featured__info {
//
// }

.featured__description {
  @include margin-clean;

  margin-bottom: 20px;

  line-height: 24px;
}

.featured__picture {
  display: block;
  margin-bottom: 20px;
}

// .featured__image {

// }

// .featured__buy {
//
// }

.featured__price {
  @include margin-clean;

  margin-bottom: 20px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
