// Общие стили блока

.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  @include layout-padding($mobile-padding);
  @include center(320);
}

// Лого

.footer__logo {
  display: none;
}

// Элемент социальных кнопок

.footer__social {
  border-bottom: 1px solid #e5e5e5;
}

// Элемент копирайта

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding-top: 19px;
  padding-bottom: 26px;
}

// Ссылка

.footer__link {
  display: flex;
  align-items: center;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $primary-text;

  &:active {
    opacity: 0.3;
  }
}

// Иконка ссылки

.footer__link-icon {
  margin-left: 30px;

  fill: #63d1bb;
}

.footer__link:hover .footer__link-icon,
.footer__link:focus .footer__link-icon {
  fill: #46c1ae;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  // Общие стили блока

  .footer__wrapper {
    @include layout-padding($tablet-padding);
    @include center(768);

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px; // for IE
  }

  // Лого

  .footer__logo {
    display: block;
    margin-right: 92px;

    line-height: 1;
  }

  .footer__logo[href]:hover .footer__logo-image,
  .footer__logo[href]:focus .footer__logo-image {
    fill: #46c1ae;
  }

  .footer__logo:active .footer__logo-image {
    opacity: 0.3;
  }

  // Элемент социальных кнопок

  .footer__social {
    border-bottom: none;
  }

  // Элемент копирайта

  .footer__copyright {
    @include padding-clean;

    justify-content: flex-end;
    width: 200px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .footer__wrapper {
    @include center(1150);
  }
}
