// Отступ снизу

.form {
  padding-bottom: 55px;
}

// Филдсеты

.form__fieldset {
  @include margin-clean;
  @include padding-clean;

  margin-bottom: 10px;
  padding-bottom: 21px;

  border: none;

  &--type {
    padding-bottom: 24px;
  }

  &--color {
    padding-bottom: 21px;
  }

  &--full-name {
    padding-bottom: 21px;
  }

  &--tel {
    padding-bottom: 22px;
  }

  &--email {
    padding-bottom: 22px;
  }

  &--dop {
    padding-bottom: 22px;
  }

  &--last {
    margin-bottom: 7px;
    padding-bottom: 0;
  }
}

// Легенда

.form__legend {
  @include margin-clean;
  position: relative;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  &--type {
    margin-bottom: 27px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--full-name {
    margin-bottom: 29px;
  }

  &--tel {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 12px;
  }

  &--dop {
    margin-bottom: 25px;
  }
}

// Линия у легенды

.form__legend::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 62px;

  width: calc(100% - 62px);
  height: 1px;

  background-color: #63d1bb;
}

.form__legend--email::before {
  content: "";
  left: 81px;

  width: calc(100% - 81px);
}

// Инпуты - список

.form__inputs {
  @include list-style-clean;
}

.form__inputs-item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Лабелы

.form__label {
  display: flex;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $primary-text;

  cursor: pointer;

  &::before {
    content: "";

    flex-shrink: 0;
  }
}

.form__label-fix {
  transform: translateY(7px);
}

// Радио

.form__label--radio::before {
  width: 36px;
  height: 36px;
  margin-right: 25px;
  margin-left: 2px;

  background-color: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $secondary-text;
}

.form__input-radio:checked + .form__label--radio::before {
  background-color: #62d1ba;
}

.form__label--toy::before {
  margin-top: 2px;
}

.form__label--radio:hover::before,
.form__input-radio:focus + .form__label--radio::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form__label--radio:active::before {
  box-shadow: 0 0 0 2px rgba($color: $secondary-text, $alpha: 0.3);
}

// Чекбокс

.form__label--checkbox::before {
  width: 40px;
  height: 40px;
  margin-right: 22px;

  background-color: #ffffff;
  border: 2px solid $secondary-text;
}

.form__input-checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px 16px;
}

.form__label--checkbox:hover::before,
.form__input-checkbox:focus + .form__label--checkbox::before {
  border-color: #62d1ba;
}

.form__label--checkbox:active::before {
  border-color: rgba($color: $secondary-text, $alpha: 0.3);
}

// Поля для ФИО

.form__field {
  @include margin-clean;

  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label--name {
  display: block;
  margin-bottom: 5px;

  &::before {
    content: none;
  }
}

.form__input-wrapper {
  position: relative;
}

// Инпуты - ТЕЛ, E-MAIL, ДОП

.form__input {
  position: relative;
  z-index: 12;

  width: 100%;
  height: 47px; // IE fix
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  color: $secondary-text;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &:hover,
  &:focus {
    border-bottom-color: #62d1ba;
  }
}

.form__input:hover + .form__icon {
  opacity: 1;
  fill: #62d1ba;
}

.form__input:focus + .form__icon {
  opacity: 1;
  fill: #62d1ba;
}

// Иконки в инпутах

.form__icon {
  position: absolute;
  top: 6px;
  z-index: 11;

  opacity: 0.2;

  &--tel {
    right: 8px;
  }

  &--email {
    right: 5px;
  }
}

.form__input::placeholder {
  font-size: 17px;
  color: rgba($color: $secondary-text, $alpha: 0.3);
}

// Fix для autoprefixer, он самостоятельно не добавляет :-ms-input-placeholder (с одной : )

.form__input:-ms-input-placeholder {
  font-size: 17px;
  color: rgba($color: $secondary-text, $alpha: 0.3);
}

.form__input--tel {
  &::placeholder {
    font-size: 19px;
  }

  // Fix для autoprefixer, он самостоятельно не добавляет :-ms-input-placeholder (с одной : )

  &:-ms-input-placeholder {
    font-size: 19px;
  }
}

// Текстарея

.form__input--textarea {
  min-height: 142px;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;

  border: 2px solid #000000;

  resize: none;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

// Текст

.form__text {
  @include margin-clean;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  // Отступ снизу

  .form {
    padding-bottom: 51px;
  }

  // Филдсеты

  .form__fieldset {
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    &--type {
      padding-bottom: 53px;
    }

    &--color {
      padding-bottom: 26px;

      background-color: #f1f1f1;
    }

    &--tel {
      padding-bottom: 24px;

      background-color: #f1f1f1;
    }

    &--email {
      padding-top: 0;

      background-color: #f1f1f1;
      // padding-bottom: 22px;
    }

    &--dop {
      padding-bottom: 52px;
    }
  }

  // Обертка для содержимого филдсета

  .form__fieldset-wrapper {
    @include layout-padding($tablet-padding);
    @include center(768);

    display: flex;
  }

  // Легенда

  .form__legend {
    width: 25%;
    margin-top: 17px;
  }

  // Линия у легенды

  .form__legend::before {
    content: none;
  }

  //Инпуты - список

  .form__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;

    &--type {
      display: block;
    }
  }

  .form__inputs--type .form__inputs-item {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__inputs--color .form__inputs-item {
    margin-bottom: 24px;
  }

  // Лабелы

  .form__label {
    font-size: 19px;
    line-height: 18px;
  }

  .form__label-fix {
    transform: translateY(0);
  }

  // Радио

  .form__label--radio {
    width: 350px;
  }

  .form__label--radio::before {
    width: 48px;
    height: 48px;
    margin-right: 33px;
    margin-left: 0;

    border: 14px solid #ffffff;
  }

  // Чекбокс

  .form__label--checkbox {
    width: 239px;
  }

  .form__label--checkbox::before {
    width: 54px;
    height: 52px;
    margin-right: 26px;

    background-color: transparent;
  }

  .form__input-checkbox:checked + .form__label--checkbox::before {
    background-size: 33px 22px;
  }

  // Поля для ФИО

  .form__field-wrapper {
    width: 75%;
  }

  .form__field {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__label--name {
    margin-right: 25px;
    margin-bottom: 0;
  }

  // Инпуты - ФИО, ТЕЛ, E-MAIL, ДОП

  .form__input {
    height: 52px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 17px;

    font-size: 19px;
  }

  .form__input::placeholder {
    font-size: 19px;
  }

  // Fix для autoprefixer, он самостоятельно не добавляет :-ms-input-placeholder (с одной : )

  .form__input:-ms-input-placeholder {
    font-size: 19px;
  }

  .form__input-wrapper {
    width: 75%;
  }

  // Иконки в инпутах

  .form__icon {
    top: 11px;

    &--tel {
      right: 26px;
    }

    &--email {
      right: 22px;
    }
  }

  //Текстарея

  .form__input--textarea {
    width: 75%;
    padding-top: 13px;
    padding-left: 15px;
  }

  // Обертка для кнопки и текста

  .form__button-wrapper {
    @include layout-padding($tablet-padding);
    @include center(768);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Текст

  .form__text {
    order: 2;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  // Кнопка

  .form__send {
    width: 230px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  // Отступ снизу

  .form {
    padding-bottom: 51px;
  }

  // Филдсеты

  .form__fieldset {
    &--color {
      padding-top: 49px;
    }

    &--dop {
      padding-bottom: 49px;
    }
  }

  // Обертка для содержимого филдсета

  .form__fieldset-wrapper {
    @include center(1150);
  }

  // Легенда

  .form__legend {
    width: 175px;
    padding-left: 62px;
  }

  .form__legend--email {
    padding-top: 2px;
  }

  // Чекбокс

  .form__label--checkbox {
    width: 262px;
  }

  // Поля для ФИО

  .form__field-wrapper {
    width: 700px;
  }


  .form__input-wrapper {
    width: 700px;
  }

  // Иконки в инпутах

  .form__icon {
    top: 11px;

    &--tel {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }

  //Текстарея

  .form__input--textarea {
    width: 700px;
    padding-top: 13px;
  }

  // Обертка для кнопки и текста

  .form__button-wrapper {
    width: 700px;
    padding: 0;
  }

  // Текст

  .form__text {
    order: 2;
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  // Кнопка

  .form__send {
    width: 230px;
  }
}
