.form {
  padding-bottom: 55px;
}

.form__fieldset {
  @include margin-clean;
  @include padding-clean;

  margin-bottom: 10px;

  border: none;
  border-top: 1px solid #63d1bb;

  &--type {
    padding-top: 27px;
    padding-bottom: 24px;
  }

  &--color {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  &--fio {
    padding-top: 29px;
    padding-bottom: 21px;
  }

  &--tel {
    padding-top: 12px;
    padding-bottom: 22px;
  }

  &--email {
    padding-top: 12px;
    padding-bottom: 22px;
  }

  &--dop {
    padding-top: 25px;
    padding-bottom: 22px;
  }

  &--last {
    margin-bottom: 7px;
    padding-bottom: 0;
  }
}

.form__legend {
  width: 62px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;

  &--email {
    width: 81px;
  }
}

.form__inputs {
  @include list-style-clean;
}

.form__inputs-item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: flex;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $primary-text;

  cursor: pointer;

  &::before {
    content: "";

    flex-shrink: 0;
  }
}

.form__label-fix {
  transform: translateY(7px);
}

.form__label--radio::before {
  width: 36px;
  height: 36px;
  margin-right: 25px;
  margin-left: 2px;

  background-color: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px $secondary-text;
}

.form__input-radio:checked + .form__label--radio::before {
  background-color: #62d1ba;
}

.form__label--toy::before {
  margin-top: 2px;
}

.form__label--checkbox::before {
  width: 40px;
  height: 40px;
  margin-right: 22px;

  background-color: #ffffff;
  border: 2px solid $secondary-text;
}

.form__input-checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px 16px;
}

.form__field {
  @include margin-clean;

  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label--name {
  margin-bottom: 5px;

  &::before {
    content: none;
  }
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  position: relative;
  z-index: 12;

  width: 100%;
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 16px;

  line-height: 18px;
  color: $secondary-text;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus {
    border-bottom-color: #62d1ba;
  }

  &:hover + .form__icon {
    opacity: 1;

    & path {
      fill: #62d1ba;
    }
  }

  &:focus + .form__icon {
    opacity: 1;

    & path {
      fill: #62d1ba;
    }
  }
}

.form__icon {
  position: absolute;
  top: 6px;
  z-index: 11;

  opacity: 0.2;

  &--tel {
    right: 8px;
  }

  &--email {
    right: 5px;
  }
}

.form__input::placeholder {
  font-size: 17px;
  color: rgba($color: $secondary-text, $alpha: 0.3);
}

.form__input--tel {
  &::placeholder {
    font-size: 19px;
  }
}

.form__input--textarea {
  min-height: 142px;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;

  border: 2px solid #000000;

  resize: none;

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

.form__text {
  @include margin-clean;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}
