// Стили блока для главной страницы

.hero--main-page {
  padding-top: 71px;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}

// Стили для внутренних страц

.hero--inner-page {
  padding-top: 71px;
  padding-bottom: 75px;

  background-color: #f1f1f1;
}

// Заголовок

.hero__title {
  @include margin-clean;
  @include layout-padding($mobile-padding);

  margin-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  &--main {
    color: #010000;
  }

  &--form {
    color: #231f20;
  }
}

.hero__title--inner-page {
  margin-bottom: 0;
}

// Блок ссылок

.hero__list {
  @include list-style-clean;
}

// .hero__item {

// }

// Ссылка-блок

.hero__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 103px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 29px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  &:active .hero__icon,
  &:active .hero__link-text {
    opacity: 0.3;
  }
}

// Фоны ссылка-блока

.hero__link--interior {
  background-color: #63d1bb;

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }
}

.hero__link--toy {
  background-color: #56c3b2;

  &:hover,
  &:focus {
    background-color: #46c1ae;
  }
}

.hero__link-text {
  display: block;
  width: 130px;
}

// Иконки в ссылках-блоках

.hero__icon {
  opacity: 0.5;

  & path {
    fill: #149080;
  }
}

.hero__icon--interior {
  margin-top: 5px;
  margin-right: 36px;
}

.hero__icon--toy {
  margin-right: 27px;
}

// TABLET

@media (min-width: $tablet-width) {
  // Стили блока для главной страницы
  .hero--main-page {
    position: relative;

    padding-top: 92px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -62px;
  }

  .hero--main-page::after,
  .hero--inner-page::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;

    width: 100%;
    height: 24px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }

  // Стили для внутренних страц

  .hero--inner-page {
    position: relative;

    padding-top: 34px;
    padding-bottom: 78px;

    background-color: #f1f1f1;
  }

  // Заголовок

  .hero__title {
    @include margin-clean;
    @include layout-padding($tablet-padding);

    margin-bottom: 373px;

    font-size: 43px;
    line-height: 50px;
  }

  .hero__title--inner-page {
    margin-bottom: 0;
  }

  // Блок ссылок

  .hero__list {
    @include list-style-clean;
    @include layout-padding($tablet-padding);

    display: flex;
  }

  .hero__item {
    width: 50%;
  }

  // Ссылка-блок

  .hero__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 117px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }

  // Фоны ссылка-блока

  .hero__link-text {
    display: block;
    width: 130px;
  }

  // Иконки в ссылках-блоках

  .hero__icon--toy {
    margin-top: 5px;
    margin-right: 34px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  // Стили блока для главной страницы
  .hero--main-page {
    padding-top: 92px;

    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .hero--main-page::after,
  .hero--inner-page::after {
    bottom: -19px;

    height: 34px;
  }

  // Стили для внутренних страц

  // .hero--inner-page {
  //   position: relative;
  //   padding-top: 34px;
  //   padding-bottom: 78px;

  //   background-color: #f1f1f1;
  // }

  // Заголовок

  .hero__title {
    margin-bottom: 359px;

    font-size: 53px;
    line-height: 57px;
  }

  // .hero__title--inner-page {
  //   margin-bottom: 0;
  // }

  // Ссылка-блок

  .hero__link {
    min-height: 117px;

    &:hover,
    &:focus {
      margin-top: -5px;
      min-height: 122px;
    }
  }
}
