.main {
  display: block;
}

.main--catalog {
  padding-bottom: 59px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .main--catalog {
    padding-bottom: 64px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .main--catalog {
    padding-bottom: 104px;
  }
}
