// Общие стили, позиционирование

.modal-basket {
  @include layout-padding($mobile-padding);

  top: 50%;
  left: 50%;

  min-width: 320px;
  padding-top: 30px;
  padding-bottom: 46px;

  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba($color: #000101, $alpha: 0.25);
  transform: translate(-50%, -50%);
}

// Заголовок

.modal-basket__title {
  @include margin-clean;

  width: 148px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;

  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

// Текст

.modal-basket__text {
  @include margin-clean;

  margin-bottom: 23px;

  text-align: center;
}

// Форма выбора размера

.modal-basket__form-list {
  @include list-style-clean;

  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal-basket__form-item {
  width: 82px;
}

// Кнопка размера

.modal-basket__label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;

  border: 2px solid #ececec;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #c7c7c7;
  }
}

.modal-basket__input:checked + .modal-basket__label {
  border-color: #63d1bb;
}

// Кнопка Добавить

.modal-basket__form-add {
  padding-top: 18px;
  padding-bottom: 18px;

  line-height: 16px;
  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}

// TABLET

@media (min-width: $tablet-width) {
  // Общие стили, позиционирование

  .modal-basket {
    @include layout-padding(108px);

    min-width: 568px;
    padding-top: 33px;
    padding-bottom: 46px;
  }

  // Заголовок

  .modal-basket__title {
    width: auto;
    margin-right: 0;
    margin-bottom: 14px;
    margin-left: 0;

    font-size: 30px;
    line-height: 57px;
    text-align: left;
    letter-spacing: -0.2px;
  }

  // Текст

  .modal-basket__text {
    margin-bottom: 21px;

    font-size: 17px;
  }

  // Кнопка размера

  .modal-basket__form-item {
    width: 112px;
  }
}
