// .navigation {
//
// }

// .navigation__wrapper {
//   display: none;
// }

.navigation__list {
  @include list-style-clean;
}

.navigation__item {
  @include border-bottom;
}

.navigation__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $primary-text;

  &:hover {
    color: rgba($color: $primary-text, $alpha: 0.6);

    & .navigation__icon {
      opacity: 1;
    }

    & .navigation__icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba($color: $primary-text, $alpha: 0.3);

    & .navigation__icon {
      opacity: 0.3;
    }
  }
}

.navigation__link--interactive {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.navigation__icon {
  // display: block;
  opacity: 0.2;
}

.navigation__icon--search {
  margin-right: 28px;
}

.navigation__icon--cart {
  margin-right: 25px;
}
