// Блок логотипа

.navigation__logo {
  @include border(bottom);
  @include border(top);

  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 21px;
  padding-bottom: 22px;
}

.navigation__logo-link {
  display: block;
}

// Кнопка отображения меню в mobile версии

.navigation__logo-toggle {
  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 21px;
  height: 20px;
  padding-top: 40px;
  padding-right: 41px;
  padding-bottom: 39px;
  padding-left: 41px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.navigation__logo-toggle--close {
  background-image: url("../img/icon-menu-close.svg");
}

.navigation__logo-toggle--open {
  background-image: url("../img/icon-menu-open.svg");
}

// Обертки списков навигации

.navigation__wrapper-promo {
  display: none;
}

// Списки навигационных элементов и их элементы

.navigation__list {
  @include list-style-clean;
}

.navigation__item {
  @include border(bottom);
}

.navigation__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $primary-text;

  &:hover,
  &:focus {
    color: rgba($color: $primary-text, $alpha: 0.6);

    & .navigation__icon {
      opacity: 1;
    }

    & .navigation__icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba($color: $primary-text, $alpha: 0.3);

    & .navigation__icon {
      opacity: 0.3;
    }
  }
}

.navigation__link--interactive {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

// Иконки у ссылок навигации

.navigation__icon {
  opacity: 0.2;
}

.navigation__icon--search {
  margin-right: 28px;
}

.navigation__icon--cart {
  margin-right: 25px;
}

// Текст о доставке (скрыт на мобильных)

.navigation__delivery {
  display: none;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
  }

  // Блок логотипа

  .navigation__logo {
    justify-content: flex-start;
    width: 48.17%;
    padding-bottom: 20px;
    padding-left: $tablet-padding;

    border-top: none;
  }

  // Кнопка отображения меню в mobile версии

  .navigation__logo-toggle {
    display: none;
  }

  // Обертки списков навигации

  .navigation__wrapper-top {
    order: 2;
    margin-left: 32px;

    // background-color: transparent;
  }

  .navigation__wrapper-interactive {
    @include border(bottom);

    width: 51.83%;
  }

  // Списки навигационных элементов и их элементы

  .navigation__list {
    display: flex;
  }

  .navigation__item {
    border-bottom: none;
  }

  .navigation__item--search {
    @include border(left);
  }

  .navigation__item--basket {
    @include border(left);
  }

  .navigation__link--top {
    padding-top: 17px;
    padding-right: 18px;
    padding-bottom: 20px;
    padding-left: 18px;

    font-size: 15px;
  }

  .navigation__link--search {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;

    font-size: 0;
  }

  .navigation__link--basket {
    padding-top: 32px;
    padding-right: 31px;
    padding-bottom: 32px;
    padding-left: 31px;
  }

  // Иконки у ссылок навигации

  .navigation__icon--search {
    margin-right: 0;
  }

  .navigation__icon--cart {
    margin-right: 30px;
  }

  // Текст о доставке

  .navigation__delivery {
    display: block;
    order: 3;
    margin-right: 50px;
    margin-left: auto;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .navigation {
    @include center(1150);
  }

  // Блок логотипа

  .navigation__logo {
    justify-content: center;
    order: 2;
    // width: 305px;
    width: 26.5%;
    padding-top: 8px;
    padding-right: 46px;
    padding-bottom: 7px;
    padding-left: 0;
  }

  .navigation__logo-link[href] {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  // Обертки списков навигации

  .navigation__wrapper-top {
    @include border(bottom);

    order: 1;
    width: 38.7%;
    margin-left: 0;
    padding-left: 50px;
  }

  .navigation__wrapper-interactive {
    order: 3;
    // width: 400px;
    width: 34.8%;
    padding-right: 50px;
  }

  .navigation__wrapper-promo {
    display: block;
    order: 4;
    width: 315px;
    min-height: 61px;
    margin-left: 50px;
  }

  // Списки навигационных элементов и их элементы

  .navigation__list {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navigation__item {
    display: flex;
    align-items: center;
    height: 100%;

    border-bottom: none;
  }

  .navigation__item--top-first {
    @include border(right);

    padding-right: 35px;
  }

  .navigation__item--top-second {
    padding-right: 20px;
    padding-left: 35px;
  }

  .navigation__item--search {
    padding-left: 32px;
  }

  .navigation__item--basket {
    padding-left: 31px;
  }

  .navigation__link--top {
    padding: 0;

    font-size: 17px;
  }

  .navigation__link--search {
    padding: 0;

    font-size: 0;
  }

  .navigation__link--basket {
    padding: 0;
  }

  .navigation__link--promo {
    padding: 0;

    font-size: 15px;
  }

  // Иконки у ссылок навигации

  .navigation__icon--cart {
    margin-right: 33px;
  }

  // Текст о доставке

  .navigation__delivery {
    order: 5;
  }
}
