.order-form {
  @include layout-padding($mobile-padding);
  @include center(400);

  padding-top: 22px;
}

.order-form__text {
  @include margin-clean;

  margin-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
}

// ---------- TABLET ----------

@media (min-width: $tablet-width) {
  .order-form {
    @include padding-clean;
    @include margin-clean;

    max-width: none;

    padding-top: 74px;
  }

  .order-form__text {
    @include layout-padding($tablet-padding);
    @include center(768);

    margin-bottom: 8px;

    font-size: 17px;
    line-height: 30px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .order-form {
    padding-top: 123px;
  }

  .order-form__text {
    width: 700px;
    margin-bottom: 8px;
    padding: 0;
  }
}
