// Svg полоса внизу блока

.reviews::after {
  @include center(400);

  content: "";

  display: block;
  height: 8px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: -8px;
  background-size: 320px 8px;
}

// Обертка для контента блока

.reviews__content {
  @include layout-padding($mobile-padding);
  @include center(400);

  padding-top: 16px;
  padding-bottom: 45px;
}

// Заголовок

.reviews__title {
  @include margin-clean;
  @include title;

  margin-bottom: 24px;
}

// Текст отзыва

.reviews__text {
  @include margin-clean;

  margin-bottom: 27px;
}

// Автор

.reviews__author {
  margin-bottom: 29px;
}

.reviews__author-name {
  @include margin-clean;

  margin-bottom: 3px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.reviews__author-link {
  display: block;

  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: $primary-text;
}

// Переключатели отзывов

.reviews__toggles {
  @include margin-clean;
  @include center(260);

  display: flex;
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 130px;
  height: 52px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ececec;
  cursor: pointer;
}

.reviews__toggle--left {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__toggle--right {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__toggle:first-child {
  border-right: none;
}

// ---------- DESKTOP ----------

@media (min-width: $tablet-width) {
  // Фон блока

  .reviews {
    @include center(768);

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  // Svg полоса внизу блока

  .reviews::after {
    @include center(768);

    height: 17px;

    background-position: -20px;
    background-size: 770px 17px;
  }

  // Обертка для контента блока

  .reviews__content {
    @include layout-padding($tablet-padding);
    @include center(768);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 77px;
    padding-bottom: 85px;
  }

  // Заголовок

  .reviews__title {
    @include margin-clean;

    flex-grow: 1;
    order: 1;
    margin-bottom: 49px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  // Текст отзыва

  .reviews__text {
    order: 3;
    margin-bottom: 57px;

    font-size: 17px;
  }

  // Автор

  .reviews__author {
    flex-grow: 1;
    order: 4;
  }

  .reviews__author-name {
    margin-bottom: 4px;

    font-size: 18px;
  }

  .reviews__author-link {
    width: 300px;

    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    color: $primary-text;
  }

  // Переключатели отзывов

  .reviews__toggles {
    @include margin-clean;

    display: flex;
    order: 5;
  }

  .reviews__toggle {
    width: 88px;
    height: 55px;

    border: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  // Кнопка

  .reviews__write {
    order: 2;
    align-self: flex-start;
    width: 175px;
  }
}

// ---------- DESKTOP ----------

@media (min-width: $desktop-width) {
  .reviews {
    @include center(1050);
  }

  // Svg полоса внизу блока

  .reviews::after {
    @include center(1050);

    height: 23px;

    background-position: -26px;
    background-size: 1050px 23px;
  }

  // Обертка для контента блока

  .reviews__content {
    max-width: none;
    margin-left: 125px;
    padding-top: 71px;
    padding-right: 0;
    padding-bottom: 133px;
  }

  // Заголовок

  .reviews__title {
    margin-bottom: 48px;

    font-size: 53px;
    line-height: 57px;
  }

  // Текст отзыва

  .reviews__text {
    margin-bottom: 38px;
    padding-right: 100px;
  }

  // Кнопка

  .reviews__write {
    width: 175px;
    margin-top: 8px;
  }
}
