.reviews {
  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 50% 0;
    background-size: contain;
  }
}

.reviews__content {
  @include layout-padding;

  padding-top: 16px;
  padding-bottom: 45px;
}

.reviews__title {
  @include margin-clean;
  @include title;

  margin-bottom: 24px;
}

.reviews__list {
  @include list-style-clean;
  margin-bottom: 29px;
}

// .reviews__item {

// }

.reviews__text {
  @include margin-clean;

  margin-bottom: 27px;
}

.reviews__author-name {
  @include margin-clean;

  margin-bottom: 3px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: $primary-text;
}

.reviews__toggles {
  @include margin-clean;

  display: flex;
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 130px;
  height: 52px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ececec;
  cursor: pointer;
}

//TODO: эффекты при ховере/активе для table/desktop

.reviews__toggle--left {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__toggle--right {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__toggle:first-child {
  border-right: none;
}
