.social {
  @include list-style-clean;

  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 21px;
  }
}

.social__link {
  display: block;
  padding: 10px;

  &:hover .social__icon path,
  &:focus .social__icon path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
}
