.social {
  @include list-style-clean;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 16px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 21px;
  }
}

.social__link {
  display: block;
  padding: 10px;

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon,
.social__link:active .social__icon {
  fill: #46c1ae;
}


// TABLET

@media (min-width: $tablet-width) {
  .social {
    @include padding-clean;

    width: 200px;
  }
}
