.video {
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 33px;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color: $primary-text, $alpha: 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color: $primary-text, $alpha: 0.1);
  }
}

.video__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 23px;
}

.video__title-icon {
  margin-left: 7px;
  margin-right: 20px;

  & path {
    fill: #63d1bb;
  }
}

.video__title-text {
  @include margin-clean;

  font-size: 17px;
  line-height: 24px;
  color: $primary-text;
}

.video__player {
  position: relative;
}

.video__play-button {
  @include padding-clean;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover .video__play-icon,
  &:focus .video__play-icon {
    transform: scale(1.2);
  }

  &:active .video__play-icon {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__description {
  padding-top: 28px;
  padding-right: 33px;
  padding-left: 33px;
}

.video__text {
  @include margin-clean;

  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}
