// Colors

$primary-text: #000000;
$secondary-text: #444444;

// Width

$tablet-width: 768px;
$desktop-width: 1150px;

// Pixels

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding

$mobile-padding: 30px;
$tablet-padding: 50px;
